.main_home{
    width: 100%;
    min-width: 300px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem 5rem;
}

.articulos_container{
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.categoria{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categoria a{
   text-decoration: none;
   color: var(--borde-btn);
}

.card_container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:space-between ;
    align-items: center;
}

.articulo_card{
    width: calc(95%/6) ;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.img_articulo{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #333;
}
.img_articulo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.detalle_articulo{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;

}

.ver_articulo{
    text-decoration: none;
    color: var(--borde-btn);
    font-weight: 600;
}
